@import "normalize.css";
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
}
body .container {
  padding: 4.375rem 1.56rem;
  margin: 0 10vw;
}
body .container .card {
  border-radius: 0.7rem;
  padding: 1.56rem 1.875rem;
  font-family: "Barlow Semi Condensed";
  color: hsl(0, 0%, 81%);
  margin-bottom: 1.6rem;
  position: relative;
}
body .container .card svg {
  position: absolute;
  opacity: 50%;
  right: 1rem;
  top: 0;
}
body .container .card .img-name-degree {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
}
body .container .card .img-name-degree img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
body .container .card .img-name-degree .name-degree {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  transform: translateY(-0.65rem);
}
body .container .card .img-name-degree .name-degree .name {
  font-size: 0.875rem;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 0;
}
body .container .card .img-name-degree .name-degree .degree {
  font-size: 0.75rem;
  color: hsla(0, 0%, 81%, 0.5);
  margin-top: 0.2rem;
}
body .container .card .quote1 {
  font-weight: 700;
  font-size: 1.165rem;
  line-height: 1.55rem;
}
body .container .card .quote2 {
  color: hsla(0, 0%, 81%, 0.5);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.2rem;
}
body .container .card:nth-child(1) {
  background-color: hsl(263, 55%, 52%);
  grid-area: card1;
}
body .container .card:nth-child(1) .img-name-degree img {
  border: 3px solid hsl(263, 55%, 65%);
}
body .container .card:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
  grid-area: card2;
}
body .container .card:nth-child(3) {
  background-color: hsl(0, 0%, 100%);
  grid-area: card3;
}
body .container .card:nth-child(3) .img-name-degree .name {
  color: hsla(217, 19%, 35%, 0.65);
}
body .container .card:nth-child(3) .img-name-degree .degree {
  color: hsla(217, 19%, 35%, 0.5);
}
body .container .card:nth-child(3) .quote1 {
  color: hsla(217, 19%, 35%, 0.95);
}
body .container .card:nth-child(3) .quote2 {
  color: hsla(217, 19%, 35%, 0.6);
}
body .container .card:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
  grid-area: card4;
}
body .container .card:nth-child(4) .img-name-degree img {
  border: 3px solid hsl(263, 55%, 65%);
}
body .container .card:nth-child(5) {
  background-color: hsl(0, 0%, 100%);
  grid-area: card5;
}
body .container .card:nth-child(5) .img-name-degree .name {
  color: hsla(217, 19%, 35%, 0.65);
}
body .container .card:nth-child(5) .img-name-degree .degree {
  color: hsla(217, 19%, 35%, 0.5);
}
body .container .card:nth-child(5) .quote1 {
  color: hsla(217, 19%, 35%, 0.95);
}
body .container .card:nth-child(5) .quote2 {
  color: hsla(217, 19%, 35%, 0.6);
}

@media only screen and (min-width: 950px) {
  body .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card1 card1 card2 card5" "card3 card4 card4 card5";
    gap: 1.875rem;
    padding: 0;
    margin: 10vh 10vw;
  }
  body .container .card {
    margin: 0;
    padding: 1.56rem 1.875rem 0 1.875rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 949px) {
  body .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card2 card4" "card1 card4" "card1 card5" "card3 card5";
    gap: 1.875rem;
    padding: 0;
    margin: 10vh 10vw;
  }
  body .container .card {
    margin: 0;
    padding: 1.56rem 1.875rem 0 1.875rem;
  }
}

/*# sourceMappingURL=style.css.map */
